%section
  .container
    .flex-grid
      .col-2-3
        .wrapper--no-padding
          %h1= @post.title
          %iframe{:src => "//#{@post.link}"}
          %p= @post.user.name
          %p
            =link_to @post.link, "//#{@post.link}", target: "_blank"
          %p= simple_format h @post.description

          - if @post.user == current_user
            .action-block
              .right
                = link_to edit_post_path(@post), class: "btn warning" do
                  %i.fa.fa-pencil
                  edit
                = link_to post_path, method: :delete, data: { confirm: "are you sure?" }, class: "btn danger" do
                  %i.fa.fa-trash
                  delete

              = link_to posts_url, class: "btn"do
                %i.fa.fa-long-arrow-left
                back
      .col-1-3
        .wrapper.wrapper
          .test
            posted #{time_ago_in_words(@post.created_at)}
