%h1= @post.title
%p= @post.user.name
%p= @post.link
%p= @post.description

- if @post.user == current_user
  = link_to "Edit Post", edit_post_path(@post)
  = link_to "destroy", post_path(@post), method: :delete, data: { confirm: "are you sure?" }

= link_to "Home", root_path
